Binaries
DerivedDataCache
Intermediate
Saved
/Config
Config
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/Windows
/Platforms/HoloLens/Config
/Plugins
/.vsconfig
/Build
