Binaries
DerivedDataCache
Intermediate
Saved
/Config
Config
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/Windows
/Platforms/HoloLens/Config
/Plugins
/.vsconfig
/Build
/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
/Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
